@model HS201.FinalAssignment.Controllers.ConferenceAddModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Conference</h2>


@using(Html.BeginForm()){
	@Html.ValidationSummary("Please fix the following errors:")
	
	<div>
		@Html.LabelFor(x => x.Name)
		@Html.EditorFor(x => x.Name)
	</div>	<div>
		@Html.LabelFor(x => x.HashTag)
		@Html.EditorFor(x => x.HashTag)
	</div>
	<div>
		@Html.LabelFor(x => x.StartDate)
		@Html.EditorFor(x => x.StartDate)
	</div>
	<div>
		@Html.LabelFor(x => x.EndDate)
		@Html.EditorFor(x => x.EndDate)
	</div>
	<div>
		@Html.LabelFor(x => x.Cost)
		@Html.EditorFor(x => x.Cost)
	</div>	
	<input type="submit"/>
}