@model HS201_FinalAssignment.Controllers.ConferenceEditModel

@{
    ViewBag.Title = "Conference Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using(Html.BeginForm()){
	@Html.HiddenFor(x => x.Id)
	@Html.ValidationSummary("Please fix the following errors:")
	
    <table>
        <tr>
            <td>@Html.LabelFor(x => x.Name)</td>
            <td>@Html.EditorFor(x => x.Name)</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.HashTag)   
            </td>
            <td>
                @Html.EditorFor(x => x.HashTag)        
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.StartDate) 
            </td>
            <td>
                @Html.EditorFor(x => x.StartDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.EndDate) 
            </td>
            <td>
                @Html.EditorFor(x => x.EndDate)         
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.Cost)
            </td>
            <td>
                @Html.EditorFor(x => x.Cost)
            </td>
        </tr>
	</table>
	<input type="submit"/>
}