@model HS201.FinalAssignment.Core.Features.Conferences.ConferenceIndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Conferences</h2>

@using (Html.BeginForm())
{
    <p>
        Find by attendee count or start date: @Html.TextBox("searchString")  
        <input type="submit" value="Search" /></p>
}

@Html.ActionLink("Edit All", "BulkEdit")
@Html.ActionLink("Add", "Add")

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Hash Tag</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Cost</th>
		    <th>Attendees</th>
            <th></th>
		</tr>
	</thead>
<tbody>

    @for (var i = 0; i < Model.Conferences.Count; ++i)
    {
        <tr>
            <td>@Html.DisplayFor(x => x.Conferences[i].Name) </td>
            <td>@Html.DisplayFor(x => x.Conferences[i].HashTag) </td>
            <td>@Html.DisplayFor(x => x.Conferences[i].StartDate) </td>
            <td>@Html.DisplayFor(x => x.Conferences[i].EndDate) </td>
            <td>@Html.DisplayFor(x => x.Conferences[i].Cost) </td>
            <td>@Html.DisplayFor(x => x.Conferences[i].AttendeeCount) </td>
            <td>@Html.ActionLink("Edit", "Edit", new{id= @Model.Conferences[i].Id})</td>
        </tr>
    }
</tbody>
    </table>